.navbar{
background:#5d7ebe;
}
.btn-secondary{
background:#ffffff;
color:#000000;
}
.btn-primary{
color:#ffffff;
}
.navbar-text{
color:#ffffff;
}
.nav-link{
color: #ffffff;
cursor: pointer;
}
.navbar-brand{
color: #ffffff;
cursor: pointer;
font-size: 130%;
}
.nav-link{
margin-right: 1em !important;
}
.nav-link:hover{
background: #f4f4f4;
color: #00008B;
}
.navbar-collapse{
justify-content: flex-end;
}
.navbar-toggler{
background:#fff !important;
}