.content {
    width: 70%;
    margin: 0 auto;
}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    width: 100%;
}

h1 {
    font-size: 32px;
}

table, th, td {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

figure {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 10px 10px 10px 50px; /* Отступы вокруг картинки */
}

.image {
    display: inline-block;
   }
