* {
    margin: 0;
    padding: 0;
}

.container {    
    margin: 0 auto;
    padding: 0 55px;
  }

.padd {
    padding-bottom: 48px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 84px;
}

a {
    text-decoration: none;
}

/* next block */


.header {
    background: #007765;
    background-size: 100%;
    width: 100%;
    position: fixed;
    padding: 20px 0px;

    top: 0px; left: 0px;
}

.logo {
    text-align: left;
    padding-bottom: 10px;
}

.logo img {
    width: 184px;
    height: 45px;
}

.menu {
    color: white;
    text-align: right;
    font-size: 24px;
    margin-top: -45px;
}

#problem, #coin, #team {
	padding-top: 84px;
	margin-top: -84px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.menu a {
    color: white;
    padding: 5px;

}

/* next block */

.firstimg {
    padding: 128px 0;
    background-image: url(../img/Jumbotron.png);
    background-size: cover;
  }

  .first__message {
    font-family: Roboto, sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;
text-align: center;
    color: #fff;
  }

/* next block */

.heading {
    color: #007765;
    font-size: 64px;
    text-align: center;
    font-weight: 500;
    padding: 48px 0 48px 0;
}

.article {
    font-size: 32px;
    text-align: justify;
}

/* next block */

.italic_article {
    font-size: 48px;
    text-align: center;
    padding: 160px;
    color: white;
}

/* next block */

.white {
    background: #ffffff;
}

.grey {
    background: #eeeeee;
}

.ppclogo {
    width: 115px;
    float: left;
    padding: 10px;
    margin-right: 28px;
}

/* next block */

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure {
    padding: 30px;
}

figure img {
    width: 168px;
    padding: 10px 30px;
}

.team_name {
    font-size: 24px;
    color: #007765;
    font-weight: 500;
    text-align: center;
}

.team_status {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

/* next block */

.footer {
    background: #333333;
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer_text {
    padding: 50px 340px;
}


.hero {
    padding: 128px 0;
    background-image: url('https://i.ibb.co/PM6cMBn/image.png');
    background-size: cover;
  }
  
  .hero__message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
  }

  @media screen and (max-width: 320px) {
    img {
        width: 100%;
    }
}