
/* Анимация букв при загрузке страницы */
@keyframes move {
  0% {
    transform: translate(calc(250px / var(--c1)), calc(650px / var(--c1)));
    opacity: 0%;
  }
  
  25% {
    transform: translate(calc(-150px / var(--c1)), calc(325px / var(--c1)));
    opacity: 15%;
  }
  
  50% {
    transform: translate(calc(185px / var(--c1)), calc(-725px / var(--c1)));
    opacity: 25%;
  }
  
  75% {
    transform: translate(calc(410px / var(--c1)), calc(145px / var(--c1)));
    opacity: 35%;
  }
  
  100% {
    transform: translate(0, 0);
  }
}

body {
  background: rgb(44, 24, 117);
  min-height: 100vh;
  display: flex;
  margin: 0;
  overflow: hidden;
}

div {
  margin: auto;
}

span {
  color: white;
  font-size: 100px;
  position: relative;
  animation: move 5s;
  display: inline-block;
}
/* Коэффициенты для сдвига букв */
.letters__a {
  --c1: 2;
  --c2: 3;
}

.letters__b {
  --c1: -1.5;
  --c2: -0.8;
}

.letters__c {
  --c1: 5;
  --c2: 2;
}

.letters__d {
  --c1: -2.8;
  --c2: -7.3;
}

.letters__e {
  --c1: -4.1;
  --c2: -3.6;
}

/* Исчезновение буквы */
.invisible {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
  }
  
 .invisible:hover {
  opacity: 0;
  }

  /* Эффект приближения буквы */
    .bouncing:hover {
    animation-name: zoomInBounce;
    text-shadow: 0 0 15px salmon;
    }
    
    @keyframes zoomInBounce {
    from {
    transform: scale(1);
    }
    
    30% {
    transform: scale(1.4);
    }
    
    40% {
    transform: scale(1.15);
    }
    
    50% {
    transform: scale(1.35);
    }
    
    60% {
    transform: scale(1.2);
    }
    
    70% {
    transform: scale(1.3);
    }
    
    80% {
    transform: scale(1.225);
    }
    
    90% {
    transform: scale(1.275);
    }
    
    to {
    transform: scale(1);
    }
    }
    
/* Вращение буквы */
    .rotate:hover{
      animation-name: rotate;  
      transform: rotate(-30deg);	
      text-shadow: 0 0 40px lightblue; 
    }

    
@keyframes rotate{
  0% {
    transform: rotate(1deg);
  }
  50% {
    text-shadow: 0 0 20px lightblue;     	
    transform: rotate(720deg);
  }
  100% {
    text-shadow: 0 0 40px lightblue;     	
    transform: rotate(-30deg);
  }
  }




  @keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
        opacity: 90%;
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        opacity: 70%;
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
        opacity: 50%;
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        opacity: 70%;
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
        opacity: 40%;
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 90%;
    }
}

.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

